ul {
    list-style-type: none;
}

span {
    color: red;
    cursor: pointer;
    /*  border: 1px solid red; */
}

time {
    color: blue;
}

.btn {
    margin: 15px;
}

.show {
    text-decoration: line-through;
}

.activ {
    border: 3px solid green;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;

}

.notactiv {
    border: 3px solid red;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;
}